.App {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #EEEEEE;
}

.Registro {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorRegistro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px #393E46 ;
  border-radius: 5px;
}

.contenedorRegistro #formatoRegistro{
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px #393E46;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}
span {
  color: red;
}
